<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://afun4dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9bfaa65e-c463-4fd5-ad40-c0d48bc16170/resourceGroups/azurefunctions/providers/Microsoft.Web/sites/afun4dev</ResourceId>
    <UserName>$afun4dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://afun4dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>